/* Media Query for Mobile Devices */
@media screen and (max-width: 767px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  nav {
    align-items: center;
    height: 10em;
  }
  .nav-bar {
    width: 100%;
    height: 8em;
    display: flex;
    flex-direction: row;
    border: 1px solid #fff;
  }
  .a-nav {
    margin: 0;
    padding: 0;
    
  }
  h1,
.p-header {
  font-size: x-large;
}

  .p-about {
    font-size: x-large;
  }
  #menu,
  #drinks {
    display: flex;
    flex-direction: column;
  }
  .info-speisen,
.info-drinks {
  margin: 1em;
}
  .speise-sorten,
  .drinks-sorten {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .a-sorte {
  }
  form input[type="text"],
  form input[type="date"],
  form input[type="time"] {
    width: 80%;
  }
  .logo-nav {
    width: 300px;
  }
  .nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info-speisen,
  .info-drinks {
    margin: 3em;
    font-size: 1.5em;
  }

  footer {
    height: 250px;
  }
  footer .logo {
    width: 30%;
  }
}
